extends layout

block content
  body.hold-transition.sidebar-mini
    .wrapper
      // Navbar 
      nav.main-header.navbar.navbar-expand.navbar-primary.navbar-dark.border-0
        // Left navbar links 
        ul.navbar-nav
          li.nav-item
            a.nav-link(data-widget='pushmenu', href='#')
              i.fas.fa-bars
          li.nav-item.d-none.d-sm-inline-block
            a.nav-link(href='#') Home
          li.nav-item.d-none.d-sm-inline-block
            a.nav-link(href='profile') Perfil
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.fas.fa-sign-out-alt(href='/')  
      aside.main-sidebar.sidebar-light-primary.elevation-4
        // Brand Logo 
        a.brand-link.navbar-primary(href='home')
          img.brand-image.img-circle.elevation-3(src='stylesheets/admin-lte/dist/img/logo.png', alt='Vision Logo')
          span.brand-text.font Vision
        // Sidebar 
        .sidebar
          // Sidebar user (optional) 
          .user-panel.mt-3.pb-3.mb-3.d-flex
            .image
              img.img-circle.elevation-2(src='stylesheets/admin-lte/dist/img/user2-160x160.jpg', alt='User Image')
            .info
              p.d-block(href='profile') #{user.name}
          // Sidebar Menu 
          nav.mt-2
            ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview', role='menu', data-accordion='false')
              li.nav-item.has-treeview
                a.nav-link(href='home')
                  i.nav-icon.fas.fa-home
                  p
                    | Home
              li.nav-item.has-treeview
                a.nav-link(href='products')
                  i.nav-icon.fas.fa-box-open
                  p
                    | Estoque 
              li.nav-item.has-treeview
                a.nav-link(href='purchases')
                  i.nav-icon.fas.fa-shopping-bag
                  p
                    | Compras
              li.nav-item.has-treeview
                a.nav-link(href='sales')
                  i.nav-icon.fas.fa-cash-register
                  p
                    | Vendas                             
      .content-wrapper
        // Content Header (Page header) 
        .content-header
          .container-fluid
            .row.mb-2
              // /.col 
            // /.row 
          // /.container-fluid 
        // /.content-header 
        // Main content 
        section.content
          .container-fluid
            // Small boxes (Stat box) 
            .row
              // Left col 
              section.col-lg-12.connectedSortable
                // Custom tabs (Charts with tabs)
                .card.card-warning
                  .card-header
                    h3.card-title
                      i.fas.fa-tasks.mr-1
                      | Tarefas pendentes
                    .card-tools
                      ul.pagination.pagination-sm
                      button.btn.btn-tool(type='button', data-card-widget='collapse')
                        i.fas.fa-minus
                  .card-body
                    ul.todo-list(data-widget='todo-list')
                      for object in tasks
                        li
                          span.handle
                            i.fas.fa-map-pin
                          .icheck-primary.d-inline.ml-2
                            input(id=`${object.id}` type='checkbox', name=`${object.name}`)
                            label(for=`${object.id}`)  
                          span.text #{object.name}
                          small.badge.badge-primary
                            i.far.fa-clock
                            | #{object.date}
                          .tools
                            i.fas.fa-edit(onclick=`updateTask('${object.id}', '${object.name}', '${object.date}'  )`)
                            i.fas.fa-trash(onclick=`deleteTask('${object.id}','${object.name}')`)
                  // /.card-body 
                  .card-footer
                    button.btn.btn-info.float-right(type='button', data-toggle='modal', data-target='#modal-default')
                      i.fas.fa-plus
      .modal.fade#modal-default
        .modal-dialog
          .modal-content
            .modal-header
              h4.modal-title Nova tarefa
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              form(name="sendTaskForm" action="javascript:createTask()")
                div(class="form-group")
                  .input-group.mb-4                        
                    input.form-control(id="task1" name ="task_name" type='text', placeholder='Título da Tarefa' required)                          
                    .input-group-append
                      .input-group-text.font-size
                        span.fas.fa-tasks  
                  .input-group.mb-4  
                    input.form-control(id="task2" name ="task_date" type='date' required)                          
                    .input-group-append
                      .input-group-text.font-size
                        span.fas.fa-calendar                                                    
                button(class="btn btn-primary" type="submit") Pronto
      .modal.fade#modal2-default
        .modal-dialog
          .modal-content
            .modal-header
              h4.modal-title Alterar Tarefa
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              form(name="sendTaskForm")
                div(class="form-group")
                  .input-group.mb-4                        
                    input.form-control(id="alter1" name ="task_name" type='text', placeholder='Título da Tarefa' required)                          
                    .input-group-append
                      .input-group-text.font-size
                        span.fas.fa-tasks  
                  .input-group.mb-4  
                    input.form-control(id="alter2" name ="task_date" type='date' required)                          
                    .input-group-append
                      .input-group-text.font-size
                        span.fas.fa-calendar                                                    
                button(class="btn btn-primary" type="submit" name="button1") Alterar
      .modal.fade#modal3-default
        .modal-dialog
          .modal-content
            .modal-header
              h4(class='modal-title' id="a" name="b") Deseja mesmo excluir a tarefa?
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              form(name="deleteTaskForm")
                div(class="form-group")
                  .input-group.mb-4                                              
                button(class="btn btn-primary" type="submit" name="buttona") Excluir

      footer.main-footer
        .float-right.d-none.d-sm-block
          b Version 1.0
        strong
          a Vision
      // Control Sidebar 
      aside.control-sidebar.control-sidebar-dark
  