
extends layout

block content
    body.hold-transition.sidebar-mini
    .wrapper
      // Navbar 
      nav.main-header.navbar.navbar-expand.navbar-dark-secondary.navbar-dark
        // Left navbar links 
        ul.navbar-nav
          li.nav-item
            a.nav-link(data-widget='pushmenu', href='#')
              i.fas.fa-bars
          li.nav-item.d-none.d-sm-inline-block
            a.nav-link(href='home') Home
          li.nav-item.d-none.d-sm-inline-block
            a.nav-link(href='profile') Contact 
      // Main Sidebar Container 
      aside.main-sidebar.sidebar-dark-secondary.elevation-4
        // Brand Logo 
        a.brand-link.navbar-dark(href='../../index3.html')
          img.brand-image.img-circle.elevation-3(src='stylesheets/admin-lte/dist/img/AdminLTELogo.png', alt='AdminLTE Logo', style='opacity: .8')
          span.brand-text.font-weight-light Vision
        // Sidebar 
        .sidebar
          // Sidebar user (optional) 
          .user-panel.mt-3.pb-3.mb-3.d-flex
            .image
              img.img-circle.elevation-2(src='stylesheets/admin-lte/dist/img/user2-160x160.jpg', alt='User Image')
            .info
              p.d-block(id="nameUser" href='profile')
          // Sidebar Menu 
          nav.mt-2
            ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview', role='menu', data-accordion='false')
              //                 Add icons to the links using the .nav-icon class
                               with font-awesome or any other icon font library 
              li.nav-item.has-treeview
                a.nav-link(href='home')
                  i.nav-icon.fas.fa-chart-line
                  p
                    | Dashboard
              li.nav-item.has-treeview.menu-open 
                a.nav-link.active(href='#')
                  i.nav-icon.fas.fa-box-open
                  p
                    | Estoque   
        // /.sidebar-menu 
        // /.sidebar 
      // Content Wrapper. Contains page content 
      .content-wrapper
        // Content Header (Page header) 
        section.content-header
          .container-fluid
            .row.mb-2
              .col-sm-6
                h1 Produtos mais vendidos
          // /.container-fluid 
        // Main content 
        section.content
          .container-fluid                     
            .row
              each objeto in top3
                .col-lg-4.col-6
                  .small-box.bg-info(style="width: 350px;")
                    .inner
                      h3 #{objeto.description}
                      h6 #{objeto.code}
                      h6 R$ #{objeto.revenues}
                      h6 Resta em Estoque: #{objeto.quantity_remaining}
                    .icon
                      i #{objeto.position}º
                    a.small-box-footer(href='#')
                      | More info
                      i.fas.fa-arrow-circle-right          
            .row
              .col-12
                .card(style='width: 500px;')
                  .card-header
                    h3.card-title Produtos
                    .card-tools
                      button.btn.btn-tool(type='button', data-card-widget='collapse')
                        i.fas.fa-minus
                  // /.card-header 
                  .card-body.table-responsive.p-0(style='height: 300px')
                    table.table.table-head-fixed
                      thead
                        tr
                          th Código
                          th Descrição
                          th Saldo                                                    
                          th Armazém
                      tbody(onclick='modalopen()')
                        each objeto in products
                          tr
                            th #{objeto.code}
                              span.badge.badge-info.float-right R$ #{objeto.value}
                            th #{objeto.description}
                            th #{objeto.quantity}                                                        
                            th #{objeto.warehouse}
                .card.card-info(style='width: 500px;')
                  .card-header
                    h3.card-title Donut Chart
                    .card-tools
                      button.btn.btn-tool(type='button', data-card-widget='collapse')
                        i.fas.fa-minus
                  .card-body
                    canvas#donutChart(style='height:230px; min-height:230px')
                // /.card                                                   
      footer.main-footer
        .float-right.d-none.d-sm-block
          b Version 1.0
        strong
          a Vision
      // Control Sidebar 
      aside.control-sidebar.control-sidebar-dark