
extends layout

block content
    body.hold-transition.sidebar-mini
    .wrapper
      // Navbar 
      nav.main-header.navbar.navbar-expand.navbar-primary.navbar-dark.border-0
        // Left navbar links 
        ul.navbar-nav
          li.nav-item
            a.nav-link(data-widget='pushmenu', href='#')
              i.fas.fa-bars
          li.nav-item.d-none.d-sm-inline-block
            a.nav-link(href='home') Home
          li.nav-item.d-none.d-sm-inline-block
            a.nav-link(href='profile') Contact
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.fas.fa-sign-out-alt(href='/')  
      // Main Sidebar Container 
      aside.main-sidebar.sidebar-light-primary.elevation-4
        // Brand Logo 
        a.brand-link.navbar-primary(href='home')
          img.brand-image.img-circle.elevation-3(src='stylesheets/admin-lte/dist/img/AdminLTELogo.png', alt='AdminLTE Logo', style='opacity: .8')
          span.brand-text.font-weight-light Vision
        // Sidebar 
        .sidebar
          // Sidebar user (optional) 
          .user-panel.mt-3.pb-3.mb-3.d-flex
            .image
              img.img-circle.elevation-2(src='stylesheets/admin-lte/dist/img/user2-160x160.jpg', alt='User Image')
            .info
              p.d-block(id="nameUser" href='profile')
          // Sidebar Menu 
          nav.mt-2
            ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview', role='menu', data-accordion='false')
              //                 Add icons to the links using the .nav-icon class
                               with font-awesome or any other icon font library 
              li.nav-item.has-treeview
                a.nav-link(href='home')
                  i.nav-icon.fas.fa-chart-line
                  p
                    | Home
              li.nav-item.has-treeview.menu-open 
                a.nav-link.active(href='#')
                  i.nav-icon.fas.fa-box-open
                  p
                    | Estoque  
              li.nav-item.has-treeview
                a.nav-link(href='purchases')
                  i.nav-icon.fas.fa-shopping-bag
                  p
                    | Compras         
        // /.sidebar-menu 
        // /.sidebar 
      // Content Wrapper. Contains page content 
      .content-wrapper
        // Content Header (Page header) 
        section.content-header
          .container-fluid
            .row.mb-2
              .col-sm-6
                h1 Produtos mais vendidos
          // /.container-fluid 
        // Main content 
        section.content
          .container-fluid                
            .row
              each objeto in top3
                .col-lg-4.col-6
                  .small-box.bg-info
                    .inner
                      h3 #{objeto.description}
                      h6 #{objeto.code}
                      h6 Receita Bruta: R$ #{objeto.revenues}
                      h6 Resta em Estoque: #{objeto.quantity_remaining}
                    .icon
                      i #{objeto.position}º
                    a.small-box-footer(href='#')
                      | More info
                      i.fas.fa-arrow-circle-right
            .row
              .col-lg-6  
                .card
                    .card-header
                      h3.card-title Composição do Estoque
                      .card-tools
                        button.btn.btn-tool(type='button', data-card-widget='collapse')
                          i.fas.fa-minus
                    .card-body
                      canvas#donutChart(style='height:230px; min-height:230px')
              .col-md-6
                .card
                  .card-header
                    h3.card-title Estoque de Segurança
                    .card-tools
                      button.btn.btn-tool(type='button', data-card-widget='collapse')
                        i.fas.fa-minus
                  // /.card-header 
                  .card-body
                    each objeto in saldoSeguranca
                      .progress-group
                      | #{objeto.description}
                      span.float-right
                        b #{objeto.quantity} 
                        | /#{objeto.security}
                      .progress.mb-3
                        .progress-bar.bg-danger(role='progressbar', aria-valuenow=`${objeto.quantity}`, aria-valuemin='0', aria-valuemax=`${objeto.security}`, style=`width: ${objeto.quantity}%`)
                                                          
            .row
              .col-md-6
                .card
                  .card-header.border-0
                    .d-flex.justify-content-between
                    h3.card-title Produtos
                    .card-tools
                      button.btn.btn-tool(type='button', data-card-widget='collapse')
                        i.fas.fa-minus
                  // /.card-header 
                  .card-body.table-responsive.p-0
                    table#example1.table.table-bordered.table-striped
                      thead
                        tr
                          th(style="font-weight: bold;") Código
                          th(style="font-weight: bold;") Saldo                                                    
                          th(style="font-weight: bold;") Armazém
                      tbody
                        each objeto in products
                          tr
                            th #{objeto.code}
                              span.badge.badge-success.float-right R$ #{objeto.value}
                              br
                              span #{objeto.description}
                            th #{objeto.quantity}                                                        
                            th #{objeto.warehouse}
              .col-lg-6
                .card
                  .card-header.border-0
                    .d-flex.justify-content-between                 
                    h3.card-title Data de Validade do Lote
                    .card-tools
                      button.btn.btn-tool(type='button', data-card-widget='collapse')
                        i.fas.fa-minus
                  .card-body.table-responsive.p-0
                    table#example2.table.table-bordered.table-striped
                      thead.text-center
                        tr
                          th(style="font-weight: bold;") Produto
                          th(style="font-weight: bold;") Lote                                                    
                          th(style="font-weight: bold;") Dias Restantes
                      tbody.text-center
                        each objeto in lotValidity
                          tr
                            th #{objeto.code}
                              br
                              span #{objeto.description}
                            th #{objeto.lot}     
                              span(class=`badge badge-${objeto.status_color}` style="float-right") #{objeto.status}  
                              br
                              span Quantidade: #{objeto.quantity}                                                                               
                            th.float-center #{objeto.remaining_days}                                                        
      footer.main-footer
        .float-right.d-none.d-sm-block
          b Version 1.0
        strong
          a Vision
      // Control Sidebar 
      aside.control-sidebar.control-sidebar-dark
      script(src='stylesheets/admin-lte/plugins/datatables/jquery.dataTables.js')
      script(src='stylesheets/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.js')
      link(rel='stylesheet', href='stylesheets/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css')