
extends layout

block content
    body.hold-transition.sidebar-mini
    .wrapper
      // Navbar 
      nav.main-header.navbar.navbar-expand.navbar-primary.navbar-dark.border-0
        // Left navbar links 
        ul.navbar-nav
          li.nav-item
            a.nav-link(data-widget='pushmenu', href='#')
              i.fas.fa-bars
          li.nav-item.d-none.d-sm-inline-block
            a.nav-link(href='home') Home
          li.nav-item.d-none.d-sm-inline-block
            a.nav-link(href='profile') Contact 
      // Main Sidebar Container 
      aside.main-sidebar.sidebar-light-primary.elevation-4
        // Brand Logo 
        a.brand-link.navbar-primary(href='home')
          img.brand-image.img-circle.elevation-3(src='stylesheets/admin-lte/dist/img/AdminLTELogo.png', alt='AdminLTE Logo', style='opacity: .8')
          span.brand-text.font-weight-light Vision
        // Sidebar 
        .sidebar
          // Sidebar user (optional) 
          .user-panel.mt-3.pb-3.mb-3.d-flex
            .image
              img.img-circle.elevation-2(src='stylesheets/admin-lte/dist/img/user2-160x160.jpg', alt='User Image')
            .info
              p.d-block(id="nameUser" href='profile')
          // Sidebar Menu 
          nav.mt-2
            ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview', role='menu', data-accordion='false')
              //                 Add icons to the links using the .nav-icon class
                               with font-awesome or any other icon font library 
              li.nav-item.has-treeview
                a.nav-link(href='home')
                  i.nav-icon.fas.fa-chart-line
                  p
                    | Home
              li.nav-item.has-treeview
                a.nav-link(href='products')
                  i.nav-icon.fas.fa-box-open
                  p
                    | Estoque
              li.nav-item.has-treeview.menu-open 
                a.nav-link.active(href='purchases')
                  i.nav-icon.fas.fa-shopping-bag
                  p
                    | Compras         
        // /.sidebar-menu 
        // /.sidebar 
      // Content Wrapper. Contains page content 
      .content-wrapper
        // Content Header (Page header) 
        section.content-header
          .container-fluid
            .row.mb-2
              .col-sm-6
                h1 Compras
          // /.container-fluid 
        // Main content 
        section.content
          .container-fluid                     
            .row
              .col-12
                .card
                  .card-header
                    h3.card-title Pedidos de Compras
                  // /.card-header 
                  .card-body.table-responsive.p-0
                    table.table.table-head-fixed
                      thead.text-center
                        tr
                          th Código
                          th Análise
                          th Preço do Pedido
                          th Quantidade                                                    
                          th Total
                          th Data do Pedido
                      tbody.text-center
                        each objeto in purchases
                          tr
                            th #{objeto.code}
                            th
                              span(class=`badge badge-${objeto.status}`) #{objeto.analysis}
                            th R$ #{objeto.price}
                            th #{objeto.quantity}                                                        
                            th R$ #{objeto.total}   
                            th #{objeto.date}                                              
      footer.main-footer
        .float-right.d-none.d-sm-block
          b Version 1.0
        strong
          a Vision
      // Control Sidebar 
      aside.control-sidebar.control-sidebar-dark